.loginPage {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  padding: 20px;
}

.loginCard {
  width: 100%;
  max-width: 380px;
  background: #ffffff;
  padding: 28px;
  border-radius: 18px;
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.12);
  text-align: center;
  border-top: 6px solid #facc15;
}

.loginCard h2 {
  font-size: 24px;
  font-weight: 800;
  color: #111827;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
}

.loginCard input {
  width: 90%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 15px;
}

.loginCard input:focus {
  outline: none;
  border-color: #facc15;
}

.loginCard button {
  width: 100%;
  padding: 12px;
  background: #111827;
  color: #facc15;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loginCard button:hover {
  background: #000000;
  transform: translateY(-2px);
}


@media (max-width: 480px) {
  .loginCard {
    padding: 22px;
  }
}
